/* CSS Document */
* * {
  box-sizing: border-box;
}

/* Typography */


/* Basics */
body {
  font-family: 'Helvetica';
  margin: 0px;
  padding: 0px;
    font-size: 14px;
}

/* Header */
header {
  background-color: ;/* Transparent */
  width:100%;
  border-bottom: 0px solid #000;
  position: fixed;
}

.navigation-wrapper ul {
  display: flex;
  justify-content: space-between;
  margin: 8px;
  padding: 0;

}

.navigation-wrapper ul li
{
 list-style: none;
 position: relative;
 padding: 8px 8px;
 transition: 0.5s;
 box-sizing: border-box;
}

.navigation-wrapper ul li a
{
text-decoration: none;
color: #000;
padding: 0px;
}

.navigation-wrapper ul li a:hover, ul li a:active, ul li a:focus {
text-decoration: none;
color: #8F8F8F;

-webkit-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;
}

/* Description */

.description-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 8px 8px 8px 10px;
}

.description {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #white;
  font-size: 14px;
  padding: 8px 0px 280px 0px;
  margin: 0px 0px 0px 4px;
  width: 100px;
  flex-basis: 600px;
  flex-grow: 1;

  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.empty-description {
  width: 600px;
  height: 1px;
  margin: 8px;
  background-color: none;
  flex-basis: 600px;
  flex-grow: 1;
}

/* Projects */
.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 16px 8px;
}

.project-1 {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #fff;
  padding:  0px 0px 0px 0px;
  margin: 8px;
  width: 600px;
  flex-basis: 600px;
  flex-grow: 1;

  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.project-1:hover, .project-1:active, .project-1:focus {
  color: white;
  background-color: #48755a;
    padding:  24px 24px 360px 24px;
}

.project-2 {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #fff;
  padding:  0px 0px 0px 0px;
  margin: 8px;
  width: 600px;
  flex-basis: 600px;
  flex-grow: 1;

  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.project-2:hover, .project-2:active, .project-2:focus {
  color: white;
  background-color: #253444;
    padding:  24px 24px 360px 24px;
}

.project-3 {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #fff;
  padding:  0px 0px 0px 0px;
  margin: 8px;
  width: 600px;
  flex-basis: 600px;
  flex-grow: 1;

  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.project-3:hover, .project-3:active, .project-3:focus {
  color: white;
  background-color: #FF9B59;
    padding:  24px 24px 360px 24px;
}

.project-4 {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color:  #fff;
  padding:  0px 0px 0px 0px;
  margin: 8px;
  width: 600px;
  flex-basis: 600px;
  flex-grow: 1;

  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5ss ease-out;
}

.project-4:hover, .project-4:active, .project-4:focus {
  color: black;
  background-color:#A6FFFF;
  padding:  24px 24px 360px 24px;
}

.project-5 {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #C1C1C0;
  padding:  24px 24px 360px 24px;
  margin: 8px;
  width: 600px;
  flex-basis: 600px;
  flex-grow: 1;

  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5ss ease-out;
}

.project-5:hover, .project-5:active, .project-5:focus {
  color: white;
  background-color: #0195E3;
}

.project-6 {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #C1C1C0;
  padding:  24px 24px 360px 24px;
  margin: 8px;
  width: 600px;
  flex-basis: 600px;
  flex-grow: 1;

  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5ss ease-out;
}

.project-6:hover, .project-6:active, .project-6:focus {
  color: white;
  background-color: yellow;
}

.empty-project {
  width: 600px;
  height: 1px;
  margin: 8px;
  background-color: none;
  flex-basis: 600px;
  flex-grow: 1;
}

/* Bottom Wrapper */

.bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 8px 8px 8px 10px;
}

.research {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #white;
  font-size: 14px;
  padding: 8px 0px 140px 0px;
  margin: 0px 0px 0px 4px;
  width: 100px;
  flex-basis: 100px;
  flex-grow: 1;

  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.index {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #white;
  font-size: 14px;
  padding: 8px 0px 140px 0px;
  margin: 0px 0px 0px 8px;
  width: 100px;
  flex-basis: 100px;
  flex-grow: 1;

  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.footer p {
    margin: 8px 8px 16px 8px;
    font-size: 12px;
}
